@import 'variables';
@import 'fonts';

.about-city-wrapper {
  background-color: $sections-bg-color;
  @include device-bp(l) {
    max-height: 440px;
  }
  @include device-bp(xl) {
    max-height: 440px;
  }
}

@mixin town-desc {
  height: 440px;
  overflow: hidden;
  flex: 0 0 50%;
}

.town-desc {
  padding: 80px 30px;
  font-size: 15px;
  line-height: 25px;
  @include town-desc;

  p {
  font-family: 'kievitPro-light', sans-serif;
  letter-spacing: 0.033em;
  margin-bottom: 0;
  }

  h3 {
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 16px;
    margin-top: 25px;
    letter-spacing: 0.02em;
  }
}

.town-img {
  @include town-desc;

  img {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
  }
}

.more-city-desc {
  border-bottom: 3px solid $accent-text-color;
  display: inline-block;
  font-size: 17px;
}
