<div class="row about-city-wrapper">
  <div class="town-image">
    <img [src]="city.imgUrl" alt="">
  </div>
  <div class="town-desc">
    <h3> {{ city.heading }} </h3>
    <p>
      {{ city.description | slice:0:199 }}
      <span *ngIf="city.description.length > 199">...</span>
    </p>
    <a
      routerLink="/page"
      class="more-city-desc"
    >Читать дальше</a>
  </div>
</div>
