@import 'variables';

.img-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  img {
    flex-basis: 100%;
    width: 100%;
    display: block;
  }
}

.back {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 15px;
  border: 2px solid $accent-text-color;
  text-decoration: none;
  text-transform: uppercase;
}
