@import 'variables';

@mixin avatar {
  flex: 0 0 44px;
  width: 44px;
  height: 44px;
  overflow: hidden;
  border-radius: 50%;

  img {
    display: block;
    height: 100%;
    width: auto;
  }
}

@mixin chat-body-item {
  flex: 0 0 100px;
  padding: 26px 20px;
  display: flex;
}

.chat-header {
  margin-bottom: 25px;

  h3 {
    font-size: 27px;
    line-height: 35px;
    letter-spacing: 0.02em;
  }
}

.chat-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $sections-bg-color;
  height: 700px;
}

.user-info {
  @include chat-body-item;

  &-avatar {
    @include avatar;
    margin-left: 7px;
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 19px;
    flex: 1 0 auto;
  }

  &-name {
    font-size: 18px;
    font-weight: bold;
  }

  &-information {
    color: $accent-text-color;
    font-size: 13px;

    i {
      font-size: 13px;
    }
  }

  &-raiting {
    flex: 0 0 76px;
  }
}

.message-wrapper {
  border-top: 1px solid $main-border-color;
  border-bottom: 1px solid $main-border-color;
  flex: 1 0 495px;
  padding: 14px;
  padding-top: 0;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  flex-wrap: nowrap;

  &::-webkit-scrollbar {
    width: 3px;
    border: 0;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent-text-color;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

.message {
  padding: 12px;
  display: flex;

  &-user-avatar {
    @include avatar;
  }

  &-text {
    margin-left: 19px;

    p {
      padding: 0;
      margin: 0;
    }
  }

  &-time {
    color: $secondary-text-color;
    font-size: 11px;
  }

  &.current-user {
    background-color: $main-bg-color;
  }
}

.input-wrapper {
  @include chat-body-item;

  &-user-avatar {
    @include avatar;
    margin-left: 7px;
  }

  &-form {
    padding-left: 19px;
    display: flex;
  }

  &-message-input {
    flex: 1 0 270px;
    height: 50px;
    width: 270px;
    border-radius: 0;
    border: 1px solid $main-border-color;
    padding-left: 24px;
  }

  &-message-send {
    flex: 0 0 auto;
    height: 50px;
    border: 0;
    background-color: transparent;
    outline: none;
    line-height: 50px;
    padding: 0;
    margin-left: 15px;
    color: $accent-text-color;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.7;
    }

    i {
      font-size: 22px;
      transform: rotate(-30deg);
    }
  }
}
