<section class="chat">
  <header class="chat-header">
    <h3>Чат с пользователем</h3>
  </header>
  <div class="chat-body">
    <div class="user-info">
      <div class="user-info-avatar">
        <img [src]="user.avatarUrl" alt="user">
      </div>
      <div class="user-info-text">
        <span class="user-info-name">{{ user.name }}</span>
        <span class="user-info-information">
          <i class="material-icons">flag</i>
          {{ user.information }}
        </span>
      </div>
      <div class="user-info-raiting"></div>
    </div>
    <div class="message-wrapper">
      <div
        class="message"
        *ngFor="let message of messages; index as i"
        [class.current-user]="message.user.id === user.id"
      >
        <div class="message-user-avatar">
          <img [src]="message.user.avatarUrl" alt="User">
        </div>
        <div class="message-text">
          <p>{{ message.text }}</p>
          <span class="message-time">{{ message.date | configDate }}</span>
        </div>
      </div>
    </div>
    <div class="input-wrapper">
      <div class="input-wrapper-user-avatar">
        <img [src]="user.avatarUrl" alt="">
      </div>
      <form class="input-wrapper-form" (ngSubmit)="sendMessage()">
        <input
          type="text"
          class="input-wrapper-message-input"
          placeholder="Напишите сообщение..."
          [formControl]=" messageControl"
        >
        <button
          type="submit"
          class="input-wrapper-message-send"
          [disabled]="messageControl.invalid"
        >
          <i class="material-icons">send</i>
        </button>
      </form>
    </div>
  </div>
</section>
