@import 'variables';

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
  background-color: rgba($color: black, $alpha: 0.4);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.popup-header {
  flex: 0 0 50px;
  clear: both;
  padding-right: 50px;
}

.close {
  float: right;
  display: block;
  padding: 0;
  border: 0;
  background-color: transparent;
  opacity: 0.5;
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
  line-height: 30px;
  font-size: 30px;
  transition: opacity 200ms linear;

  &:hover {
    opacity: 1;
  }
}

.popup-slider-container {
  flex: 1 0 auto;
}

img {
  display: block;
  height: 70vh;
  width: auto;
  margin: 0 auto;
}
