<div class="popup-container">
  <header class="popup-header">
    <button class="close" (click)="close()">&times;</button>
  </header>
    <div class="popup-slider-container">
      <ngb-carousel
        *ngIf="fotos"
        #carousel
      >
        <ng-template
          ngbSlide
          *ngFor="let foto of fotos"
        >
          <div class="picsum-img-wrapper">
            <img [src]="foto" alt="Random slide">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
</div>
