@import 'variables';

.review-desc {
  background-color: $main-bg-color;
  width: 300px;
  height: 410px;
  padding: 28px 15px 15px 20px;
  display: flex;
  flex-direction: column;

  &-header,
  &-footer {
    flex: 0 0 auto;
  }

  &-header {
    margin-bottom: 10px;
  }

  &-content {
    flex: 1 0 auto;

    h5 {
      text-transform: uppercase;
      margin-bottom: 15px;
      font-size: 12px;
      margin-top: 10px;

      span {
        color: $accent-text-color;
      }
    }

    p {
      font-family: 'roboto', sans-serif;
      line-height: 25px;
      font-size: 15px;
      height: 170px;
    }
  }

  &-foto {
    display: flex;
  }

  &-img {
      flex-basis: 50px;
      height: 50px;
      overflow: hidden;
      margin-left: 5px;
      cursor: pointer;
      position: relative;

      &:first-child {
        margin-left: 0;
      }

    img {
      height: 100%;
      width: auto;
      display: block;
    }
  }

  &-img-left {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    @include font-family(roboto, 700);
    font-size: 17px;
    line-height: 50px;
    text-align: center;
  }

  &-user-img {
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-user-name {
    line-height: 30px;
    display: inline-block;
    height: 30px;
    vertical-align: top;
  }

  &-footer {
    padding-top: 15px;
    color: $secondary-text-color;
    font-size: 11px;
    line-height: 26px;
    height: 41px;
    @include font-family(roboto);

    span {
      display: inline-block;
      vertical-align: top;
    }
  }

  &-likes {
    width: 40px;
    text-align: right;

    i {
      font-size: 14px;
    }
  }

  &-comments,
  &-date {
    // float: left;
    width: 110px;

    i {
      font-size: 7px;
    }
  }
}
