<div class="review-desc">
  <header class="review-desc-header">
    <div class="review-desc-user-img">
      <img [src]="review.user.imgUrl" alt="">
    </div>
    <span class="review-desc-user-name">{{ review.user.name }}</span>
  </header>
  <article class="review-desc-content">
    <div class="reveiw-desc-text">
      <h5>
        <span> {{ review.city }} </span> - о городе
      </h5>
      <p>
        {{ review.text | slice:0:200 }}
        <i *ngIf="review.text.length > 200">...</i>
      </p>
    </div>
    <div class="review-desc-foto">
      <div
        class="review-desc-img"
        *ngFor="let foto of review.fotos | slice:0:4; last as isLast; index as i"
        (click)="showPopup()"
      >
        <img [src]="review.fotos[i]" alt="">
        <span
          class="review-desc-img-left"
          *ngIf="review.fotos.length > 4 && isLast"
        > +{{ review.fotos.length - 4 }} </span>
      </div>
    </div>
  </article>
  <footer class="review-desc-footer">
    <span class="review-desc-date">{{ review.date | configDate }}</span>
    <span class="review-desc-comments">
      <i class="material-icons">fiber_manual_record</i>
      {{ review.comments }} комментариев
    </span>
    <span class="review-desc-likes">
        <i class="material-icons">thumb_up_alt</i>
        {{ review.likes }} </span>
  </footer>
</div>
<app-review-fotos-popup
  [fotos]="review.fotos"
  *ngIf="isPopupVisible"
  (isConfirmed) = "closePopup()"
></app-review-fotos-popup>
