@import 'variables';

.main-page-chats-wrapper {
  padding-top: 30px;
}

.chat-wrapper {
  flex: 1 0 414px;
}

.chats-divider {
  flex: 0 0 2px;
  background-color: #EBE9E4;
  margin: 0 24px;
  align-self: stretch;
}
