<div class="container">
  <app-about-city></app-about-city>
  <app-reviews></app-reviews>
  <div class="row main-page-chats-wrapper">
    <div class="chat-wrapper">
      <app-chats [userId]="1"></app-chats>
    </div>
    <div class="chats-divider"></div>
    <div class="chat-wrapper">
      <app-chats [userId]="2"></app-chats>
    </div>
  </div>
</div>

