<section class="reviews-wrapper row-vertical">
  <header class="reviews-header">
    <h3>Отзывы о Барсеоне</h3>
  </header>
  <div class="reviews-slider-container">
    <app-content-slider>
    <div
      class="review-card"
      *ngFor="let review of reviews"
      app-slide
    >
      <app-review-desc [review] = "review"></app-review-desc>
    </div>
    </app-content-slider>
  </div>
  <footer class="reviews-footer">
    <a
    routerLink="/page"
    class="all-reviews"
    >Все отзывы</a>
  </footer>
</section>
