@import 'variables';

.reviews-wrapper {
  background-color: $sections-bg-color;
  padding: 30px;
  position: relative;
}

.reviews-slider-container {
  height: 410px;
}

.reviews-header {
  h3 {
    margin: 10px 0 20px 0;
    font-size: 27px;
    letter-spacing: 0.02em;
  }
}

.reviews-footer {
  padding-top: 30px;
}

.review-card {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.all-reviews {
  display: inline-block;
  border: 2px solid $accent-text-color;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 2px;
}
