<div class="wrapper">
  <div class="content-slider" #slider>
    <div class="slides-container" #slidesContainer>
      <ng-content></ng-content>
    </div>
    <div class="slides-arrows">
      <button
        class="controls next"
        *ngIf="isEnoughSlides && !isInEnd"
        (click)="slideNext()"
      >
        <span>&#8250;</span>
      </button>
      <button
        class="controls prev"
        *ngIf="!isInStart"
        (click)="slidePrev()"
      >
        <span>&#8249;</span>
      </button>
    </div>
  </div>
  <div class="slides-dots">
    <ul class="dots">
      <ol class="dot"
        *ngFor="let slide of allSlides; index as i"
        [ngClass]="{'active': slide.id === activeSlideId}"
        (click)="moveToSlide(i)"
      ></ol>
    </ul>
  </div>
</div>
