@import "variables";

.wrapper {
  position: relative;
}

.content-slider {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.slides-container {
  position: relative;
  white-space: nowrap;
  width: max-content;
  height: 100%;
}

.controls {
  position: absolute;
  top: 0;
  height: 100%;
  width: 30px;
  background: transparent;
  outline: none;
  border: 0;
  color: white;
  text-align: center;
  opacity: 0.5;
  padding: 0;
  font-size: 30px;
  z-index: 100;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transition: all 300ms linear;
  }

  span {
    vertical-align: middle;
  }
}

.next {
  right: 0;
  background: transparent;

  &:hover {
    background-color: rgba(0,0,0,0.3);
    background: linear-gradient(90deg, transparent 0%, rgba(0,0,0,0.3) 80%);
    transition: all 300ms linear;
  }
}

.prev {
  left: 0;
  background: transparent;

  &:hover {
    background-color: rgba(0,0,0,0.3);
    background: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, transparent 80%);
    transition: all 300ms linear;
  }
}

.slides-dots {
  position: absolute;
  right: 0;
  bottom: -78px;
}

.dots {
  text-align: right;
  display: block;
}

.dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: $main-text-color;
  margin-right: 14px;
  padding: 0;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    background-color: $accent-text-color;
    width: 8px;
    height: 8px;
    transform: translateY(2px);
  }
}
