@import 'variables';
@import 'fonts';
@import './../node_modules/bootstrap/dist/css/bootstrap.min.css';

* {
  box-sizing: border-box;
  white-space: normal;
}

body,html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: $main-text-color;
  @include font-family($main-text);
  font-weight: 400;
  font-size: 15px;
}

@for $i from 1 through 6 {
  h#{$i} {
    @include font-family($main-text, 700);
    letter-spacing: 0.04em;
  }
}

a {
  text-decoration: none;
  color: $main-text-color;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    color: $main-text-color;
  }
}

.container {
  margin: 0 auto;
  padding: 0;

  @include device-bp(l) {
    width: 880px;
  }

  @include device-bp(xl) {
    width: 880px;
  }
}

.row {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;
  flex-wrap: nowrap;

  &-vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
}
