/**
 * font family KievitPro-bold
 */

@font-face {
  font-family: 'kievitPro';
  src:  url('https://nomail.com.ua/files/eot/13bab27f5c036091c6c56951a6a491fc.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/13bab27f5c036091c6c56951a6a491fc.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/13bab27f5c036091c6c56951a6a491fc.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
}

/**
 * font family KievitPro-light
 */

@font-face {
  font-family: 'kievitPro';
  src:  url('https://nomail.com.ua/files/eot/90e76c84ddf1f9a9bfa0874faee656ef.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/90e76c84ddf1f9a9bfa0874faee656ef.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/90e76c84ddf1f9a9bfa0874faee656ef.woff2') format('woff2');
        font-weight: 200;
        font-style: normal;
}

/**
 * font family KievitPro-regular
 */

@font-face {
  font-family: 'kievitPro';
  src:  url('https://nomail.com.ua/files/eot/4a5de024c8141c450af7336dbac9d451.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/4a5de024c8141c450af7336dbac9d451.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/4a5de024c8141c450af7336dbac9d451.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
}

/**
 * font family KievitPro-medium
 */

@font-face {
font-family: 'kievitPro';
src:  url('https://nomail.com.ua/files/eot/d60918d7103ee299a705f50483f79c27.eot?#iefix') format('embedded-opentype'),
      url('https://nomail.com.ua/files/woff/d60918d7103ee299a705f50483f79c27.woff') format('woff'),
      url('https://nomail.com.ua/files/woff2/d60918d7103ee299a705f50483f79c27.woff2') format('woff2');
      font-weight: 600;
      font-style: normal;
}



/**
 * font family roboto
 * font weight 400, 700 (normal, bold)
 * font style normal, italic
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap&subset=cyrillic');
