// colors

$main-bg-color:  #F9F7F2;
$sections-bg-color: white;
$main-text-color: black;
$accent-text-color: #FF4641;
$secondary-text-color: #9D9D9D;
$main-border-color: #ECECEC;

//font-family
@mixin font-family($font-family-name, $font-weight-value: 400) {
  font-family: '#{$font-family-name}', sans-serif;
  font-weight: $font-weight-value;
}

$main-text: 'kievit-pro';
$secondary-text: 'roboto';

//media queries
$sm-device: 576px;
$md-device: 768px;
$l-device: 992px;
$xl-device: 1200px;

@mixin device-bp($media) {
  @if $media == sm {
    @media only screen and (min-width: $sm-device)and (max-width: $md-device - 1) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $md-device) and (max-width: $l-device - 1) { @content; }
  }
  @else if $media == l {
    @media only screen and (min-width: $l-device) and (max-width: $xl-device - 1) { @content; }
  }
  @else if $media == xl {
    @media only screen and (min-width: $xl-device) { @content; }
  }
}


